.input {
  height: 70px;
  width: 100%;
  background: #f3f3f3;
  border: 1px solid #b4b4b4;
  padding: 26px 22px;
  box-sizing: border-box;
  position: relative;
}
.show-button {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 600px) {
  .input {
    height: 30px;
  }
  .MuiOutlinedInput-input {
    height: 30px;
  }
}
