.register-page {
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 600px;

  .title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 46px;
    color: #000000;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 1px solid #b4b4b4;
    .title {
      text-align: center;
      width: 200px;
      border-bottom: 3px solid #000000;
    }
  }
  .register-form {
    width: 100%;
    margin-top: 70px;
    width: 600px;
    .form {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      > .input {
        height: 60px;
      }
      .error {
        margin-top: 90px;
        position: absolute;
        color: #ff8080;
        font-size: 14px;
        margin-left: 134px;
      }
      .label {
        width: 134px;
        font-size: 20px;
        margin-right: 20px;
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
  }

  .register-routing-button {
    margin-top: 23px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #434343;
    width: 600px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .register-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 24px;
      color: #000000;
      margin-top: 30px;
      font-size: 14px;
      font-weight: 600;
      border-bottom: 1px solid #b4b4b4;
      .title {
        text-align: center;
        width: 200px;
        border-bottom: 3px solid #000000;
      }
    }
    .register-form {
      width: 100%;
      margin-top: 30px;
      .form {
        padding: 0 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        > .input {
          height: 30px;
          padding: 15px 5px;
        }
        .error {
          margin-top: 90px;
          position: absolute;
          color: #ff8080;
          font-size: 14px;
          margin-left: 134px;
        }
        .label {
          font-size: 15px;
          width: 100px;
        }
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      width: 100%;
    }
  }
}
