.main-page {
  display: flex;
  height: 100%;
  .dashboard {
    background-color: #dfe8f2;
    height: 100%;
    padding: 23px 36px;
    .search-input {
      width: 268px;
      height: 40px;
      background-color: #ffffff;
      border-radius: 0;
      outline: none;
    }
  }
}
